<!-- The graduation request student form -->
<ng-template #studentGraduationRequestForm>
  <form #studentGraduationRequest="ngForm" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-12">
        <p> {{ requestName | translate }} </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <label for="graduation-special-request" class="sr-only"> {{ 'UniversisGraduationModule.SpecialRequest.Title' | translate }} </label>
        <p>
          {{ 'UniversisGraduationModule.SpecialRequest.Notice' | translate }}
        </p>
        <textarea
          id="graduation-special-request"  maxlength="512"
          name="graduation-special-request"
          placeholder="{{ 'UniversisGraduationModule.SpecialRequest.InputPlaceholder' | translate }}"
          class="form-control"
          [(ngModel)]="studentRequest.specialRequest"
        ></textarea>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <div class="form-check mt-2" *ngFor="let consent of graduationRequestConsents; index as i;">
          <input
            type="checkbox"
            id="{{ consent.id }}"
            name="{{ consent.id }}"
            class="form-check-input checkbox checkbox-primary"
            [checked]="consents[i]"
            (click)="updateConsentsStatus($event, i)"
            [(ngModel)]="studentRequest[consent.id]"
          />
          <label for="{{ consent.id }}" class="form-check-label" >
            {{ consent.translationKey | translate }}
          </label>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <i class="fa fa-info-circle text-primary"></i>
        <span> {{ 'UniversisGraduationModule.GraduationRequest.WillAnnounceDatesNotice' | translate }} </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="span text-red mt-4" *ngIf="errorMessage"> {{errorMessage}} </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-right">
        <input
          type="submit"
          value="{{ 'UniversisGraduationModule.GraduationRequest.Request' | translate }}"
          class="btn btn-purple pl-4 pr-4"
          [disabled]="!canSubmit"
        />
      </div>
    </div>
  </form>
</ng-template>

<!-- The view of the form when it is already submitted -->
<ng-template #studentGraduationRequestView>
  <div class="row mt-2">
    <div class="col-12 mt-2">
      <h5> {{ 'UniversisGraduationModule.GraduationRequest.Request' | translate }} </h5>
      <p class="text-secondary"> {{ requestName | translate }} </p>
    </div>
  </div>
  <div class="row mt-2" *ngIf="specialRequest">
    <div class="col-12">
      <h5> {{ 'UniversisGraduationModule.SpecialRequest.Title' | translate }} </h5>
      <p class="text-secondary"> {{ specialRequest | translate }} </p>
    </div>
  </div>

  <!-- Graduation ceremony date and location -->
  <div class="row mt-2">
    <div class="col-12">
      <h5> {{ 'UniversisGraduationModule.GraduationCeremony.GraduationCeremonyStatus' | translate }} </h5>
      <div *ngIf="this.graduationRequestData?.graduationEvent?.startDate">
        <div class="row col-12 col-xl-12">
          <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Date' | translate }} </div>
            <div class="row font-weight-bold font-lg">{{ this.graduationRequestData?.graduationEvent?.startDate | date }}</div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Time' | translate }} </div>
            <div class="row font-weight-bold font-lg">{{ this.graduationRequestData?.graduationEvent?.startDate | date: 'short' }}</div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 col-xl-2 mt-2" *ngIf="this.graduationRequestData?.graduationEvent?.location">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Location' | translate }} </div>
            <div class="row font-weight-bold font-lg">{{ this.graduationRequestData?.graduationEvent?.location?.name }}</div>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-6 mt-2" *ngIf="this.graduationRequestData?.graduationEvent?.url">
            <div class="row text-gray-600"> {{ 'UniversisGraduationModule.Url' | translate }} </div>
            <div class="row font-weight-bold font-lg"><a href="{{this.graduationRequestData?.graduationEvent?.url}}" target="_blank">{{ this.graduationRequestData?.graduationEvent?.url }}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- Component start -->
<div class="row">
  <div class="col-12">
    <h2> {{ 'UniversisGraduationModule.GraduationRequestTitle' | translate }} </h2>
  </div>
</div>
<ng-container
  [ngTemplateOutlet]="submitted ? studentGraduationRequestView : studentGraduationRequestForm"
></ng-container>
